<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/lib/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>

    <div class="large-3 large-centered columns">
        <div class="login-box">
          <div class="row">
            <div class="large-12 columns">
              <h4 class="text-center">Add Admin Account</h4>
              <form method="POST" action="/_restrict/addAdmin">
                 <div class="row">
                   <div class="large-12 columns">
                       <input type="text" name="firstName" placeholder="First Name" />
                   </div>
                 </div>
                 <div class="row">
                   <div class="large-12 columns">
                       <input type="text" name="lastName" placeholder="Last Name" />
                   </div>
                 </div>
                 <div class="row">
                   <div class="large-12 columns">
                       <input type="text" name="username" placeholder="Username" />
                   </div>
                 </div>
                  <div class="row">
                     <div class="large-12 columns">
                         <input type="password" name="password" placeholder="Password" />
                     </div>
                  </div>
                  <div class="row">
                    <div class="large-12 large-centered columns">
                      <input type="submit" class="button expand login-button" value="Add Admin"/>
                    </div>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>

</body>
</html>